main {
  width: 500px;
}

label {
  font-weight: bold;
}

.email {
  position: relative;
  border-left: 2px solid transparent;
  border-bottom: 1px solid #ddd;
  &:first-child {
    border-top: 1px solid #ddd;
  }
  padding: 0.5rem;
  font-size: 0.75rem;

  .unread {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 100px;
    background-color: var(--bs-primary);
    margin-left: -1rem;
    margin-right: 0.5rem;
  }
}

.muted {
  opacity: 0.5;
}

.snippet {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  .user {
    font-size: 1rem;
    gap: 0.25rem;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 100px;
    padding: 2px;
    padding-right: 0.5rem;
    img {
      height: 2rem;
      width: 2rem;
      border-radius: 100px;
    }
  }
}
